<% include ./partials/header.ejs %>

<div
    class="min-h-screen flex items-center justify-center bg-zinc-800 text-white">
    <div class="max-w-md w-full">
        <div class="bg-zinc-700 p-8 rounded-lg shadow-lg">
            <!-- Post Image -->
            <img src="/images/uploads/<%= post.image %>" alt="<%= post.title %>"
                class="w-full  object-cover object-center rounded-lg">

            <div class="mt-4">
                <!-- Post Title -->
                <div class="flex items-center justify-between">

                    <h2 class="text-2xl font-semibold mb-2"><%= post.title
                        %></h2>
                    <h2 class="text-2xl font-semibold mb-2">@<%=
                        post.user.username %></h2>
                </div>

                <!-- Post Description -->
                <p class="text-white mb-4"><%= post.description %></p>
                <a type="button"
                    class="px-3 py-2 text-black font-bold rounded-lg bg-white cursor-pointer "
                    href="/images/uploads/<%= post.image %>" download="<%= post.image %>">Download</a>

                <!-- Other Post Details (if any) -->
                <!-- Add more details based on your post model fields -->

            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>
